.bg-gray {
  display: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;

  @media only screen and (min-width: $m768) {
    max-width: 738px;
  }

  @media only screen and (min-width: $m1024) {
    max-width: 940px;
  }

  @media only screen and (min-width: $m1280) {
    max-width: 1216px;
  }

  @media only screen and (min-width: $m1440) {
    max-width: 1356px;
  }

  img {
    display: block;
  }
}

// .section-title {
//   @include h3;
//   margin-bottom: 24px;
// }

.hasPadding {
  @include padding-LR;
}

a {
  color: #007CFF;

  &:hover {
    color: #007CFF;
    text-decoration: underline !important;
  }

  &:active {
    color: #000;
    text-decoration: underline !important;
  }

  &.btn {
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: none !important;
    }

    &:active {
      color: #fff;
      text-decoration: none !important;
    }

  }
}

/* Не переносить - START */
.header,
.footer {
  background-color: $color-pink-100;
  height: 60px;
  border: 2px dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: 64px;
}

.section-title {
  @include h3;
  margin-bottom: 24px;

  @media (min-width: $m1024) {
    margin-bottom: 32px;
  }
}

/* Не переносить - END */